<% layout('layouts/boilerplate') %>
<% block('head').append('<link rel="stylesheet" href="/show.css">') %>
<% block('head').append('<link rel="stylesheet" type="text/css"href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />') %>
<body>
    <h1>TomTom Map Integration</h1>
    hb
    <div id="map" style="width: 500px; height: 500px;">
        Map
    </div>
   
</body>
