<% layout('layouts/boilerplate') %>
<% block('head').append('<link rel="stylesheet" href="/new.css">') %>

<body style="text-align: center;">
    <h1>Create a New Listing item</h1>
    <div class=".body">
    <form action="/listings" class="needs-validation" method="POST" novalidate>
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" class="form-control" name="title" required placeholder="Enter the title of your listing">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide the title!
            </div>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" class="form-control" required placeholder="Describe your item"></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide the Description!
            </div>
        </div>
        <div>   
            <label for="price">Price:</label>
            <input type="string" id="price" name="price" class="form-control" required placeholder="Enter the price">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide the Price!
            </div>
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" class="form-control" required placeholder="Enter your city and country (e.g., New York, USA)">
            <div class="invalid-feedback">
                Please provide the Location!
            </div>
        </div>
        <div>
            <label for="image">Image URL:</label>
            <input type="url" id="image" name="image" class="form-control" required placeholder="Enter the image URL (e.g., http://example.com/image.jpg)">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a valid image link.
            </div>
        </div>
        <button type="submit">Create Listing</button>
    </form>
</div>
</body>
