
.nav-bar{
    .menu-icon{
      width: 30px;
      height: 20px;
    }
    
    .logo{
      width: 60%;
      height: 40%; 
    }
  
    img{
      cursor: pointer;
    }
  
    .nav-right > img{
      width: 80%;
      height: 60%; 
    }
  }


  @media screen and (max-width: 640px) {
    .nav-bar{
     gap: 5px;
      
     .menu-icon{
      width: 16px;
      height: 12px;
     }
     
     .logo{
        width: 100%;
      }

    }
    .nav-left{
      gap: 3px;
      width: 25%;
    }
    .nav-middle{
      flex-direction: row;
      width: 40%;
      
      input{
        width: 100%;
        padding: 1px 1px;
      }
    }
    .nav-right{
     justify-content: flex-start;
     gap: 5px;
     }


}