.shortcut-links img{
    width: 20px;
    margin-right: 20px;
}

.sidelinks{
display:  flex;
align-items: center;
margin-bottom: 20px;
width: fit-content;
flex-wrap: wrap;
cursor: pointer;
}

.sidebar hr{
    border:0;
    height: 1px;
    background: rgb(152, 147, 147);
    width: 85%;

    
}

.subscribed-list img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.small-sidebar{
width: 5%;

 p{
    display: none;
 }

 h3{
    display: none;
 }

 hr{
    width: 50%;
    margin-bottom: 25px;
 }

}

.sidelinks.active img{
padding-bottom: 3px;
border-bottom: 2px solid red;
}

@media screen and (max-width: 640px) {
    .small-sidebar{
        display: none;
  }

  .small-sidebar{
        /* width: 13%;
        display: inline-block; */
     p{
        /* display: none; */
     }

     h3{
        /* display: none; */
     }
  }

}
