*{
    color: white;
}
  

.hero-banner{
     mask-image: linear-gradient(to right , transparent , black 75%);
}

@media only screen and (max-width: 600px) 
{
    /* .nav-bar{
        padding-left: 2px;

        .nav-bar-left{
            margin-left: 0px;
        }

        .nav-bar-middle ul {
            display: flex;
            flex-direction: column;
            gap: 0px;
        }
    } */

}

